In [1]:
import pandas as pd
import os
import numpy as np

In [2]:
%pwd

'C:\\Users\\jorey\\python'

In [3]:
datas = []
for info in os.listdir("C:\\Users\\jorey\\python\\data"):
    domain = os.path.abspath(r"C:\\Users\\jorey\\python\\data")
    info = os.path.join(domain,info)
    data = pd.read_csv(info,encoding ='cp932')
    datas.append(data)

In [4]:
datas[0]

   挿入  公式  データ
0   1   2    3

In [5]:
datas_tmp = []
for i in range(len(datas)):
    datas_tmp.append(datas[:i] + datas[i+1:])

In [6]:
datas_tmp

[[   挿入  公式  データ
  0   8   8    8,
     挿入  公式  データ
  0   4   6    5],
 [   挿入  公式  データ
  0   1   2    3,
     挿入  公式  データ
  0   4   6    5],
 [   挿入  公式  データ
  0   1   2    3,
     挿入  公式  データ
  0   8   8    8]]

In [7]:
df=pd.concat(datas_tmp[2])
df.reset_index()[['挿入','公式','データ']]

   挿入  公式  データ
0   1   2    3
1   8   8    8

In [8]:
data2=np.random.randint(3,100,(100,3))
df_data2=pd.DataFrame(data2,columns=['挿入','公式','データ'])
df_data2

    挿入  公式  データ
0   47  65   70
1   43  26   36
2   51  94   80
3   47  45   54
4   87  40   88
..  ..  ..  ...
95   5  49   21
96  66  96   45
97  83  32   99
98  25  32   22
99  43  55   90

[100 rows x 3 columns]

In [9]:
ddf=pd.concat([df.reset_index()[['挿入','公式','データ']],df_data2],axis=0)

In [10]:
ddf

    挿入  公式  データ
0    1   2    3
1    8   8    8
0   47  65   70
1   43  26   36
2   51  94   80
..  ..  ..  ...
95   5  49   21
96  66  96   45
97  83  32   99
98  25  32   22
99  43  55   90

[102 rows x 3 columns]

### フラグ付け
    あるデータ群に対してランダムに10件HOTフラグに付け、残りは全部NOTフラグにつける

In [ ]:
import random
num=92
list_not=[0]*num
num_hot=10
list_hot=[1]*num_hot

list_all=list_not+list_hot
random.shuffle(list_all)

ddf['HOT']=list_all
ddf.loc[ddf['HOT']==1,'NOT']=0
ddf.loc[ddf['HOT']==0,'NOT']=1

In [ ]:
ddf